<html>
  <head>
    <link rel="icon" href="/img/weather.png" />
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
      {{>header}}

      <p>This site was created by Federico Valles.
        <br>
        <br>
        It uses data from mapbox.com and weatherstack.com
      </p>
      
      <br>

      <img class="portrait" src="img/me.png" />
    </div>
    
    {{>footer}}
  </body>
</html>